<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="naviguation.css">
	<style>
    
	</style>
</head>

<body>
	<header>
      <input type="checkbox" id="menu-toggle">
      <label for="menu-toggle" id="toggle-off">&#9655;</label>
      <label for="menu-toggle" id="toggle-on">&#9661;</label>
		<nav>
			<span><a href="/">Home</a></span>
			<span><a href="#">Docs</a></span>
			<span><a href="#">About</a></span>
			<span><a href="#">Contact</a></span>
		</nav>
	</header>

</body>

</html>