* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: blue;
  height: auto;
}
header > * {
  display: none;
}

nav > span {
  display: inline-block;
  margin: auto 0;
  height: 100%;
  padding: 10px 15px 15px;
}
nav > span > a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

nav span:hover {
  background-color: deepskyblue;
}
/*---------------------------------------------- ( > 600px ) ---------------------------------------------------*/
@media screen and (min-width: 601px) {
  header {
    height: 50px;
  }

  nav {
    display: block;
  }

  nav > span::before {
    content: "";
    display: block;
    height: 5px;
    background: darkblue;
    margin-top: -3px;
    margin-bottom: 7px;
    transform: scale(0, 1);
    transition: transform 250ms ease-in-out;
  }

  nav span:hover::before {
    transform: scale(1, 1);
  }
}
/*---------------------------------------------- ( <= 600px ) ---------------------------------------------------*/
@media screen and (max-width: 600px) {
  header > label {
    display: block;
    color: white;
    font-size: 1.5rem;
    width: 40px;
    padding: 10px 15px 15px;
  }

  header > label[id="toggle-on"] {
    display: none;
  }
  header > input:checked ~ label[id="toggle-off"] {
    display: none;
  }
  header > input:checked ~ label[id="toggle-on"] {
    display: inline-block;
  }
  header > input:unchecked ~ label[id="toggle-off"] {
    display: inline-block;
  }
  header > input:unchecked ~ label[id="toggle-on"] {
    display: none;
  }
  header > input:checked ~ nav {
    display: block;
  }
  nav > span {
    display: block;
  }

  nav > span::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 7px;
    height: 30px;
    margin-bottom: -9px;
    margin-right: 10px;
    background: darkblue;
    transform: scale(1, 0);
     transition: transform 250ms ease-in-out;
  }
  nav span:hover::before {
    transform: scale(1, 1);
  }
}
